.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    background-color: #999;
    width: 200px;
}
.button button{
    border: solid ;
    width: 70px;
    height: 35px;
    margin: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
}
.name.food{
   
}
.name{
    background-color: yellow;
}
.food{
    background-color: orange;
}